<form method="post" id="form">
	<div class="painel-msg">
		<div class="panel panel-default no-margin-bottom">
			<div class="panel-body">
				<% if (mensagem) { %>
				<div id="lblMessage" class="alert alert-danger"><%=mensagem %></div>
				<% } %>
				<p class="text-center"><img alt="ESPM" src="/imagens/logo.png" width="100" /></p>

				<ul class="nav nav-pills text-center" role="tablist">
					<li class="col-xs-space-bottom" role="presentation"><a href="#tab-interno" aria-controls="tab-interno" role="tab" data-toggle="tab">Alunos e Funcionários</a></li>
					<li class="col-xs-space-bottom" role="presentation"><a href="#tab-externo" aria-controls="tab-externo" role="tab" data-toggle="tab">Visitantes Externos</a></li>
				</ul>

				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active text-center" id="tab-padrao">
						<br />
						Por favor, escolha uma das opções acima para acessar o sistema.
						<br />
						<br />
					</div>
					<div role="tabpanel" class="tab-pane fade" id="tab-interno">
						<a href="<%- loginUrl %>" class="btn btn-primary btn-block"><i class="fa fa-lock fa-nomargin"></i>
							<br />
							Entrar com as credenciais da ESPM
						</a>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="tab-externo">
						<div class="row">
							<div class="col-sm-6">
								<br />
								Ainda não se cadastrou no sistema de eventos da ESPM?
								<br />
								<br />
								<a href="#" onclick="mostrarModalCadastro(); return false;">Clique aqui e cadastre-se agora mesmo! 😊</a>
								<br />
								<br />
								Já possui cadastro? Basta digitar suas informações para entrar!
								<br />
								<br />
							</div>

							<div class="col-sm-6 text-left">
								<div class="form-group">
									<label for="email">E-mail</label>
									<input name="email" type="email" id="email" class="form-control text-uppercase" spellcheck="false" />
								</div>
								<div class="form-group">
									<label for="senha">Senha</label>
									<input name="senha" type="password" id="senha" class="form-control" />
								</div>
								<div class="form-group">
									<input type="submit" value="Entrar" class="btn btn-primary btn-block" />
								</div>
								<div>
									<button type="button" class="btn btn-outline btn-default btn-block btn-sm" onclick="esqueciMinhaSenha()">Esqueci minha senha</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

<%- contentFor("styles") %>
<style type="text/css">
	.nav > li > a {
		color: #000;
	}

	.nav-pills > li {
		float: none;
	}

	.nav > li {
		display: inline-block;
	}
</style>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	var formSubmit = false;

	$("#form").validate({
		rules: {
			email: {
				required: true,
				email: true
			},
			senha: {
				required: true
			}
		},
		submitHandler: function (form) {
			if (formSubmit || $.active || JsonWebApi.active)
				return;

			formSubmit = true;

			Notification.wait();

			form.submit();
		}
	});

	var modalCadastro = null;

	function mostrarModalCadastro() {
		if (formSubmit || $.active || JsonWebApi.active)
			return;

		if (!modalCadastro) {
			Notification.wait();

			$.ajax({
				url: "/participante/modal",
				success: function (data) {
					Notification.hide();

					$(document.body).append(data);
					modalCadastro = $("#modalCadastro");

					modalCadastro.modal({
						keyboard: false,
						backdrop: "static"
					});
				},
				error: function () {
					Notification.error("Algo saiu errado! Por favor, tente novamente mais tarde \uD83D\uDE22", true);
				}
			});

			return;
		}

		modalCadastro.modal({
			keyboard: false,
			backdrop: "static"
		});
	}

	function esqueciMinhaSenha() {
		if (formSubmit || $.active || JsonWebApi.active)
			return;

		var email;
		if (!isEmail(email = $("#email").val())) {
			Notification.error("Por favor, insira um e-mail válido para prosseguir \uD83D\uDE22", true);
			return;
		}

		Notification.wait();

		JsonWebApi.get("/api/participante/redefinirSenha", function (response) {
			if (response.success)
				Notification.success("As instruções para redefinir sua senha foram encaminhadas para seu e-mail! \uD83D\uDE04");
			else
				Notification.error(response.value, true);
		}, "email", email);
	}

	//]]>
</script>
