<div class="row">
	<div class="col-lg-12" id="content">
		<div class="painel-msg">
			<div class="panel panel-default mb-0">
				<div class="panel-body">
					<h1>
						<%=((typeof mensagem === "undefined" || !mensagem) ? "A página que você está tentando acessar não foi encontrada" : mensagem) %>
						<%=((typeof sucesso === "undefined" || !sucesso) ? "\uD83D\uDE22" : "\uD83D\uDE04") %>
					</h1>
					<% if (typeof ocultarBotao === "undefined" || !ocultarBotao) { %>
					<a href="<%- root %>/participante" class="btn btn-outline btn-default btn-lg"><i class="fa fa-bullhorn"></i>Meus Eventos</a>
					<% } %>
				</div>
			</div>
		</div>
	</div>
</div>

<% if (typeof analytics !== "undefined" && analytics) { %>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P2N9SD7"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>

<%- contentFor("styles") %>

<% if (typeof analytics !== "undefined" && analytics) { %>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y4VR4VJJSZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-Y4VR4VJJSZ');
</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P2N9SD7');</script>
<!-- End Google Tag Manager -->
<% } %>

<style type="text/css">
	.panel {
		background-color: rgba(255,255,255,0.85);
	}
</style>
