<form method="post" id="form">
	<div style="max-width: 400px; margin: 0 auto; padding: 10% 15px;">
		<div class="panel panel-default mb-0">
			<div class="panel-body">
				<div class="form-group">
					<label for="email">E-mail</label>
					<input name="email" type="email" id="email" class="form-control text-uppercase" spellcheck="false" value="<%=email %>" />
				</div>
				<div class="form-group">
					<label for="token">Chave de segurança</label>
					<input name="token" type="text" id="token" class="form-control text-uppercase" spellcheck="false" autocomplete="off" value="<%=token %>" />
				</div>
				<div class="form-group">
					<label for="senha">Nova senha</label>
					<input name="senha" type="password" id="senha" maxlength="40" class="form-control" />
				</div>
				<div class="form-group">
					<label for="senha2">Confirme a nova senha</label>
					<input name="senha2" type="password" id="senha2" maxlength="40" class="form-control" />
				</div>
				<input type="submit" value="Redefinir Senha" class="btn btn-primary btn-block" />
			</div>
		</div>
	</div>
</form>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	$("#form").validate({
		rules: {
			email: {
				required: true,
				email: true
			},
			token: {
				required: true
			},
			senha: {
				minlength: 4,
				maxlength: 40,
				required: true
			},
			senha2: {
				equalTo: "#senha"
			}
		},
		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Notification.wait();

			JsonWebApi.postFormData("<%- root %>/api/participante/definirSenha", form, function (response) {
				if (response.success) {
					resetForm(form);
					$("#email").val("");
					$("#token").val("");
					Notification.success("Senha redefinida com sucesso! Agora você pode acessar o sistema utilizando sua nova senha! " + emoji.happy);
				} else {
					Notification.error(response.value, true);
				}
			});
		}
	});

	//]]>
</script>
