<div class="row" style="margin-bottom: 30px;">
	<div class="col-sm-3 col-sm-offset-3">
		<div class="form-group">
			<select class="form-control" size="1" id="cbPalestrante">
				<option value="" selected="selected">Ver palestrante...</option>
			</select>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="form-group">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Buscar título..." id="txtBusca" />
				<span class="input-group-btn">
					<button class="btn btn-default btn-force-border" type="button" id="btnBusca"><i class="fa fa-nomargin fa-search"></i></button>
				</span>
			</div>
		</div>
	</div>
</div>
