<div id="carousel-apoio">
	<br /><br /><br /><br /><br />
	<img alt="Carregando" src="/public/imagens/loading-grey-t.gif" style="display: inline; vertical-align: middle" /> Carregando&hellip;
	<br /><br /><br /><br /><br />
</div>
