<div id="carousel-palestrantes">
	<br /><br /><br /><br /><br />
	<div class="text-center">
		<img alt="Carregando" src="/imagens/loading-grey-t.gif" style="display: inline; vertical-align: middle" /> Carregando&hellip;
	</div>
	<br /><br /><br /><br /><br />
</div>
